<table class="table">
  <thead>
    <tr>
      <th scope="col">Stt</th>
      <th scope="col">Tên</th>
      <th scope="col">Tài khoản</th>
      <th scope="col">Email</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Quyền</th>
      <th scope="col">Cấu hình</th>
    </tr>
  </thead>
  <tbody>
    <% data.users.forEach(user => { %>
        
      <tr>
        <th scope="col"><%= user.id %></th>
        <th scope="col"><a href="/detail-user/<%= user.id %>"><%= user.fullname %></a></th>
        <th scope="col"><%= user.user %></th>
        <th scope="col"><%= user.email %></th>
        <th scope="col"><%= user.address %></th>
        <th scope="col"><%= user.groupid %></th>
        <th scope="col">
          <a href="">sửa</a>
          <a href="">xóa </a>
        </th>
        

      </tr>
      <% }); %>
  </tbody>
</table>